version: '3.8'
services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: AvitoTestTask
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/AvitoTestTask?sslmode=disable
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy